/* Page layout */
body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    color: #4a6b8b;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url('./images.png');
    background-position: 40% 63%;
}

/* Heading */
h1 {
    font-family: Georgia, serif;
}

/* Textarea where subtitles are edited */
.subtitle-editor {
    background-image: linear-gradient(to right, rgba(225, 232, 234, 1) 41.3%, rgba(255, 182, 193, 0.282) 41.3%, rgba(255, 182, 193, 0.282) 49%, transparent 49%);
    white-space: nowrap;
    overflow-x: hidden;
    border-radius: 10px;
    border-width: 0 0 0 30px;
    border-left-color: rgba(225, 232, 234, 1);
    border-top-color: rgba(225, 232, 234, 1);
    border-bottom-color: rgba(225, 232, 234, 0);
    line-height: 1.6;
    resize: none;
    font-size: 18px;
    padding-top: 20px;
}

.subtitle-editor:focus {
    outline-color: lightgray;
    outline-width: 5px;
    outline-offset: 1px;
}

.subtitle-editor::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Buttons */
button {
    align-self: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4a6b8b;
    color: lightgray;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover:not(:disabled) {
    background-color: lightgray;
    color: #4a6b8b;
    box-shadow: 0 0 6px gray;
}

button:disabled {
    background-color: lightgray;
    color: #4a6a8bd8;
}

#remove-title-btn,
#save-btn {
    display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3.5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4a6b8b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #435f7c;
}