body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    color: #4a6b8b;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url('./images.png');
    background-position: 40% 59%;   
}

h1 {
    font-family: Georgia, serif;
}

.subtitle-editor {
    background-color: rgb(225, 232, 234);
    white-space: nowrap;
    overflow-x: hidden;
    border-radius: 10px;
    border-width: 30px 60px;
    border-color: rgb(225, 232, 234);
    line-height: 1.6;
    resize: none;
    font-size: 18px;
}

.subtitle-editor:focus {
    outline-color: lightgray;
    outline-width: 5px;
    outline-offset: 1px;
}

.subtitle-editor::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle-editor-wrapper {
    position: relative;
}

.subtitle-editor-wrapper::after {
    content: "";
    display: inline-block;
    background-color: rgba(255, 182, 193, 0.282);
    height: calc(100% - 5px);
    width: 78px;
    position: absolute;
    top: 0;
    left: calc(100% - 8.7em);
    font-size: 18px;
}

button {
    align-self: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4a6b8b;
    color: lightgray;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover:not(:disabled) {
    background-color: lightgray;
    color: #4a6b8b;
    box-shadow: 0 0 6px gray;
}

button:disabled {
    background-color: lightgray;
    color: #4a6a8bd8;
}

#remove-title-btn {
    display: none;
}

 /* width */
 ::-webkit-scrollbar {
    width: 3.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4a6b8b; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #435f7c;
  }